#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.bg {
    position: absolute;
    top: 3rem;
    right: 4rem;
    z-index: -1;
    object-fit: cover;
    height: 60vh;
    opacity: 0;
    animation: fadeIn 2s 2s;
    animation-fill-mode: forwards;
}

.home-content {
    height: 100vh;
    width: 100vh;
    margin-top: -3rem;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.4);
    
}
.hello {
    font-size: 1.75rem;
    font-weight: 100;

}
.home-name {
margin-left: 20px;
}

.home-para {
    font-size: medium;
    font-weight: 100;
    margin-top: 1rem;
    animation: fadeIn 2s 3s backwards;
    
}
.flat-button {
    color: #2D5E14;
    width: 10rem;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #2D5E14;
    margin-top: 25px;
    float: left;
    animation: fadeIn 2s 3s backwards;
    white-space: nowrap;
    border-radius: 0.2rem;

    &:hover {
        background-color: #2D5E14;
        color: #fff;
    }
}


@media screen and (max-width:840px) {
    .bg {
        right: 7vh;
    }

    .home-content {
        font-size: 7vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}