#projects {
    min-height: calc(50vw);
    width: 100vw;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;

    overflow: hidden;
    margin: 0 auto;


}
.projects-title {
    margin: 1rem 0;
    font-size: 3rem;
    padding: 1rem 0;
}

.projects-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 65rem;

}

.projects-imgs>span {
    width: 45%;
    height: 30rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.projects-imgs>span:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
    
    .git-btn{
        animation: fadeIn 2s 0.5s backwards;
        opacity: 1;
    }
}


.works-img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.projects-imgs>span h4 {
    font-size: 1.5rem; /* Adjust the heading font size */
    margin: 1rem 0;

}

.projects-imgs>span p {
    font-size: 1rem; /* Adjust the paragraph font size */
    height: 20rem;
    margin: 0 1rem;
}

/* .git-btn {
margin-top: 1rem; 
} */



.git-btn {
    color: #2D5E14;
    width: 10rem;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #2D5E14;
    white-space: nowrap;
    border-radius: 0.2rem;
    margin-bottom: 1.5rem;
    opacity: 0;
    background-color: #fff;

    &:hover {
        background-color: #2D5E14;
        color: #fff;

        .git-icon{
            color: #fff;
        }
    }
}

.git-icon {
    font-size: 1.5rem;
    margin: -0.2rem 0.5rem -0.2rem -0.55rem;
}
