#projects {
    min-height: calc(50vw);
    width: 100vw;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;

    overflow: hidden;
    margin: 0 auto;


}
.projects-title {
    margin: 1rem 0;
    font-size: 3rem;
    padding: 1rem 0;
}

.projects-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 65rem;

}

.projects-imgs>span {
    width: 45%;
    height: 30rem;
    margin: 1rem;

    /* padding: 1rem;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; /* Add a background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    transition: transform 0.2s ease-in-out;
}

.projects-imgs>span:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;

    
}
.projects-imgs>span:hover::after{
    transform: scale(1);
    transition: transform 0.3s ease-out;

    
}

.works-img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.projects-imgs>span h4 {
    font-size: 1.5rem; /* Adjust the heading font size */
    margin: 1rem 0;

}

.projects-imgs>span p {
    font-size: 1rem; /* Adjust the paragraph font size */
    
    margin: 0 1rem;
}

.git-btn {
margin-top: 1rem; /* Add spacing between content and the GitHub button */
}
